<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-672600DYET"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-672600DYET');
</script>

<link rel="icon" href="/favicon.ico">
{{ if .Params.math }}{{ partial "math.html" . }}{{ end }}

<meta name="google-site-verification" content="571yNf6jh4xoCUkecpp1fEH-SQAmvqhr6pukc2cmkbY" />

<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ with .Params.images }}<meta property="og:image" content="{{ index . 0 | absURL }}" />{{ end }}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}" />